@font-face {
  font-family: monsterrat-bold;
  src: url("./fonts/Montserrat-ExtraBold.ttf"); }
@font-face {
  font-family: monsterrat;
  src: url("./fonts/Montserrat-SemiBold.ttf"); }
@font-face {
  font-family: monsterrat-light;
  src: url("./fonts/Montserrat-Light.ttf"); }
* {
  margin: 0;
  padding: 0;
  font-family: monsterrat; }

section {
  display: grid;
  grid-template-columns: 1.5fr 3fr 1.5fr;
  grid-template-rows: 0.2fr 3fr;
  height: 100vh;
  text-align: center;
  grid-template-areas: 'header header header' 'profile newsfeed friend-request' 'profile newsfeed friend-request'; }
  section header {
    background-color: darkcyan;
    grid-area: header;
    display: flex;
    align-items: center;
    box-shadow: 1px 2px 3px black;
    z-index: 33; }
    section header marquee {
      cursor: pointer; }
      section header marquee a {
        text-decoration: none;
        padding: 5px 10px;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid white;
        outline: none;
        transition-duration: 0.3s; }
        section header marquee a:hover {
          color: white;
          border-radius: 20px;
          transition-duration: 0.4s;
          transition-timing-function: ease-out; }
  section #profile {
    grid-area: profile;
    box-shadow: 1px 2px 3px black;
    z-index: 32;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; }
    section #profile div #title {
      text-decoration: underline;
      margin-top: 20px; }
    section #profile #update_post {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
      section #profile #update_post textarea {
        padding: 3%;
        border: 1px solid grey;
        border-radius: 20px;
        outline: none;
        height: 50%;
        transition-duration: 0.3s;
        margin: 3%; }
      section #profile #update_post input {
        padding: 5px 10px;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid black;
        outline: none;
        transition-duration: 0.3s; }
        section #profile #update_post input:hover {
          color: black;
          border-radius: 20px;
          transition-duration: 0.4s;
          transition-timing-function: ease-out; }
    section #profile #my_posts {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      section #profile #my_posts h1 {
        text-decoration: underline;
        margin-bottom: 5%; }
      section #profile #my_posts #contents {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer; }
        section #profile #my_posts #contents li:hover {
          background-color: grey;
          transition-duration: 0.3s; }
  section #newsfeed {
    background-color: powderblue;
    grid-area: newsfeed;
    box-shadow: 1px 2px 3px black;
    z-index: 31;
    overflow: auto;
    display: flex;
    flex-direction: column; }
  section #friend-request {
    background-color: white;
    grid-area: friend-request;
    overflow: auto; }

@media only screen and (max-width: 450px) {
  section {
    grid-template-areas: 'header header header' 'profile profile profile' 'friend-request friend-request friend-request' 'newsfeed newsfeed newsfeed';
    grid-template-rows: 0.3fr 2fr 2fr 3fr;
    height: 200vh; }
    section header, section #profile, section #newsfeed, section #friend-request {
      overflow: auto;
      padding: 20px;
      box-shadow: 1px 0 3px black; } }

/*# sourceMappingURL=welcome-style.css.map */
