@font-face
{
    font-family:monsterrat-bold;
    src:url('/app/fonts/Montserrat-ExtraBold.ttf');
}
@font-face
{
    font-family:monsterrat;
    src:url('/app/fonts/Montserrat-SemiBold.ttf');
}
@font-face
{
    font-family:monsterrat-light;
    src:url('/app/fonts/Montserrat-Light.ttf');
}
*
{
    margin:0;
    padding:0;
    font-family: monsterrat;
}
@mixin buttons {
    padding:5px 10px;
    cursor: pointer;
    background-color: transparent;
    border:1px solid white;
    outline:none;
    &:hover
    {
        color:white;
        border-radius: 20px;
        transition-duration: 0.5s;
    }
}
section
{
    display:grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    grid-template-rows: 0.2fr 3fr;
    height: 100vh;
    text-align: center;
    grid-template-areas: 'header header header'
                        'profile newsfeed friend-request'
                        'profile newsfeed friend-request';
    header
    {
        background-color: darkcyan;
        grid-area:  header;
        display: flex;
        align-items: center;
    }
    #profile
    {
        background-color: pink;
        grid-area: profile;
    }
    #newsfeed
    {
        background-color: yellow;
        grid-area: newsfeed;
    }
    #friend-request
    {
        background-color: orange;
        grid-area: friend-request;
    }
}
@media only screen and (max-width:450px)
{
    #newsfeed
    {
        color:white;
    }
}